.parallax {
  height: 100vh; /* Height of the parallax section */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-color: aliceblue;
  border-bottom-style: solid;
  border-bottom-width: 19px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for contrast */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white; /* Text color */
  padding: 2rem;
}

.title {
  font-size: 4rem; /* Increase font size for better visibility */
  margin-bottom: 2rem;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better visibility */
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  gap: 1.5rem; /* Space between product cards */
}

.productCard {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset, rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.productCard:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 170px; /* Fixed height for images */
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire area */
}

.productInfo {
  padding: 1rem;
  text-align: center;
}

.productName {
  font-size: 1.5rem;
  color: #14216e;
  margin: 0.5rem 0;
}

.productDescription {
  font-size: 0.9rem;
  color: #555;
  margin: 0.5rem 0;
}

.productPrice {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4a4a4a;
  margin: 0.5rem 0;
}

.addToCartButton {
  display: block;
  width: 100%;
  padding: 0.6rem;
  background-color: #121d5c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addToCartButton:hover {
  background-color: #4569a0;
}
